/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.banner-section-container{
    max-width: 1350;
    height: 850px;
    /* border: 2px solid red; */
    background-color: rgba(229, 84, 115, 0.1);
        
}
.banner-content{
    display: flex;
    /* border: 2px solid black; */
    width: 80%;
    margin:0 auto;
}
.banner-text-container{
    width: 50%;
    height: 850px;
    /* border: 2px solid red; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-top: 197px;
    
}
.banner-text-container h1{
    font-size: 50px;
}
.banner-text-container button{
    /* margin-right: 640px; */
    width: 177px;
    height: 64px;
    padding: 10px 20px;
    background-color: rgb(229, 84, 115);
    border: none;
    border-radius: 10px;
    color: wheat;
    margin-top: 52px;
}
.banner-text-container p{
    margin-top: 32px;
    font-size: 20px;
    color: rgba(39, 39, 39, 0.6);
}
.banner-image-content{
    width: 50%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}  
/* featurd-img-container */
.featurd-img-container{
    
}

